*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:  sans-serif;
}

.card-heading-top{
    font-size: 2.4rem;
    font-weight: 700;
}

.card-heading{
    font-size: 1.25rem;
    font-weight: 700;
}

.trainig-card:hover{
    background-color: #00549C;
    color: white;
    cursor: pointer;
}
