* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    
}


.nav-font-size {
    font-size: 1rem;
    font-weight: 400;

}

.navbar .nav-link:hover {
  color: red; 
}


.nav-padding {
    padding-right: 1.5rem;
}

.header-icon i {
    padding-right: 1rem;
    font-size: 1.7rem;
}

.hero-section{
    width: 100%;
    background-image: url('./assets/images/home-hero-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

}

.hero-section::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}





.hero-header{
    position: relative;
    z-index: 2;
}

.hero-content{
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    padding: 11rem;

    position: relative;
    z-index: 2;
}

.hero-content h1{

    font-size: 4rem;
    font-weight: 900;
 
}