@media screen and (max-width: 991px) {

    .hero-para {
        display: flex;
        align-items: center;
    }

    .hero-heading {
        font-size: 3rem;
        text-align: center;
    }

    .orange-btn,
    .white-btn {
        padding: 0.7rem 1rem;
        font-size: 0.9rem;
    }

    .package-card-details {
        position: relative;
        top: -5rem;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 50%;
        width: 13rem;
        height: 13rem;
        left: -0.1rem;
    }

    .about-heading-h1 {
        font-size: 1.8rem;

    }

    .about-para {
        text-align: justify;
    }

    .choose-your-place {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1.5rem;
        padding-inline: 1.8rem;
    }

    .destination-img-3 {
        position: relative;
        bottom: -0.2rem;
    }
    .why-us{
        padding: 0;
        height: auto;
    }
    .customizedpackages h3{
        font-size: 1rem;
    }
    .customizedpackages p{
        font-size: 0.9rem;
    }
    /* .why-us-inner{
        flex-direction: column-reverse;
        padding-top: 0rem;
    } */
    .left-section{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .left-section .about-heading-h1{
        font-size: 1.2rem;
        line-height: 2rem;
    }
}