@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.lato-font {
    font-family: "Lato", sans-serif;

}

.playfair-font {
    font-family: "Playfair", serif;

}

.first-section {
    background-image: url('assets/images/home-hero.jpg');
    background-position: center;
    background-size: cover;
    color: white !important;
    position: relative;

}

.first-section::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    top: 0;
    left: 0;
    background-color: #001219;
    opacity: 0.4;
}

.nav-link {
    color: white !important;

}

.orange-btn {
    padding: 0.7rem 1.6rem;
    border-radius: 0.5rem;
    background-color: #fb5607;
    outline: none;
    border: none;
    font-size: 1.2rem;
    color: white;
}

.orange-btn:hover {
    background-color: #f36c2e;
}

.white-btn {
    padding: 0.7rem 1.6rem;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.3);
    outline: none;
    border: none;
    font-size: 1.2rem;
    color: white;
}

.white-btn:hover {
    background-color: #f36c2e;
}

.hero-section {
    position: relative;
    z-index: 2;
    padding-block: 7rem;
}

.hero-para {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: 400;
    padding: 0.3rem 2rem;
    border-radius: 5rem;
    background-color: rgba(255, 252, 252, 0.2);
}

.hero-heading {
    font-size: 5rem;
    font-weight: 700;

}

/* second section  */

.popular-destination {
    background-color: #fb56071c;
    color: #fb5607;
    text-transform: uppercase;
    padding: 0.5rem 1.7rem;
    font-size: 1rem;
    border-radius: 5rem;
}

.popular-destination-heading {
    font-size: 3.5rem;
    font-weight: 700;
}





.img-container img {
    border-radius: 3rem;
    width: 100%;
    height: auto;
}

.package-card-details {
    position: relative;
    bottom: 6rem;
    left: 4rem;
    background-color: white;
    border-radius: 50%;
    height: 15rem;
    width: 15rem;
}

.star-svg svg {
    fill: orangered;
}

.package-card-details-h3 {
    font-weight: 800;
    font-size: 2rem;
}


/* third section   */

.aboutus {
    background-color: #FFF7EC;
    padding-block: 5rem;
}

.about-heading {
    background-color: white;
    padding: 0.5rem 1.5rem;
    text-transform: uppercase;
    border-radius: 5rem;
    color: #fb5607;
    font-size: 1rem;
}
.about-heading-h1{
    font-size: 4rem;
    font-weight: 700;
    line-height: 4rem;
}

.about-description-ul{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}
.about-description>ul>li{
    list-style: none;
}
.icon-color{
    color: #fb5607;
}

.review-img2{
    position: relative;
    left: -1rem;
}

/* destination section  */
.destination-img img{
    border-radius: 5rem;
    position: relative;
}
.destination-img img::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 15, 20, 0.4);
}

.destination-img-3{
    position: relative;
    bottom: 5rem;
}

/* why-us section */
.why-us{
    background-image: url('assets/images/destination.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    height: auto;
}
.why-us::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 15, 20, 0.4);
}

.why-us-inner{
    padding: 5rem 3rem 0rem 3rem;
    position: relative;
    z-index: 2;
    top: 5rem;
}
.customizedpackages svg{
    fill: #fb5607;
    height: 40px;
    width: 40px;
}
.customizedpackages h3{
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
}

.why-us-p{
    color: white;
    text-transform: uppercase;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 0.3rem 1.4rem;
    border-radius: 5rem;
}
.left-section{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: start;

}