@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.lato-font {
    font-family: "Lato", sans-serif;
    color: white !important ;
}

.playfair-font {
    font-family: "Playfair", serif;
}


.first-section{
    background-image: url('assets/images/home-hero.jpg');
    background-position: center;
    background-size: cover;
   
    position: relative;

}

.first-section::before{
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    top: 0;
    left: 0;
    background-color: #001219;
    opacity: 0.4;
}

.orange-btn{
    padding: 0.7rem 1.6rem;
    border-radius: 0.5rem;
    background-color: #fb5607;
    outline: none;
    border: none;
    font-size: 1.2rem;
}
.orange-btn:hover{
   background-color: #f36c2e;
}

.hero-section{
    position: absolute;
    z-index: 2;
    padding-block: 4rem;
}