@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.lato-font {
    font-family: "Lato", sans-serif;

}

.playfair-font {
    font-family: "Playfair", serif;

}

.org-color {
    color: #fb5607;
}

.org-bg-color {
    background-color: #fb5607 !important;
}

.light-org-bg {
    background-color: #FFF7EC;
}

.font-size-52 {
    font-size: 3.25rem;
    font-weight: 700;
}

.icon-bg-color {
    background-color: #fb5607;
    padding: 0.1rem 0.5rem;
    border-radius: 5rem;
}


.first-section {
    background-image: url('assets/images/home-hero.jpg');
    background-position: center;
    background-size: cover;
    color: white !important;
    position: relative;

}

.first-section::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    top: 0;
    left: 0;
    background-color: #001219;
    opacity: 0.6;
}

.nav-link {
    color: white !important;

}

.orange-btn {
    padding: 0.7rem 1.6rem;
    border-radius: 0.5rem;
    background-color: #fb5607;
    outline: none;
    border: none;
    font-size: 1.2rem;
    color: white;
}

.orange-btn:hover {
    background-color: #f36c2e;
}

.white-btn {
    padding: 0.7rem 1.6rem;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.3);
    outline: none;
    border: none;
    font-size: 1.2rem;
    color: white;
}

.white-btn:hover {
    background-color: #f36c2e;
}

.hero-section {
    position: relative;
    z-index: 2;
    padding-block: 7rem;
}

.hero-para {
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
    padding: 0.3rem 0.7rem;
    border-radius: 5rem;
    background-color: rgba(255, 252, 252, 0.2);
    display: inline-block !important;
    text-transform: uppercase;
}

.hero-heading {
    font-size: 4.5rem;
    font-weight: 700;

}