* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.instrument-font {
    font-family: "Instrument Sans", sans-serif;
    color: white !important;
}

.inter-font {
    font-family: "Inter", sans-serif;
}

.first-section {
    width: 100%;
    background-image: url('/assets/images/home-hero-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.first-section::before {
    content: '';
    position: absolute;
    top: 0;
    padding: 0;
    background-color: #001219;
    opacity: 0.6;
    width: 100%;
    height: 100%;
}

.icon-focus i:hover {
    color: rgb(154, 150, 150);

}

.center-section {
    position: relative;
    z-index: 2;
    color: white;
    padding-block: 6rem;
    padding-inline: 15rem;
}

.center-section .bold-heading {
    font-size: 4rem;
    font-family: "Instrument Sans", sans-serif;
}

.shop-now-btn {
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 4rem;
    color: white;
    background-color: #88ad35;
}

.shop-now-btn:hover {

    background-color: #4a5f1c;
    transition: 0.3s all ease-in-out;
}


.sale-section {
    width: 100%;
    background-image: url('./assets/images/middle-cta.png');
    background-position: center;
    background-size: cover;
    position: relative;
}

.sale-section::before {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    background-color: #001219;
    opacity: 0.7;
    top: 0;
    left: 0;
}

.sale-content {
    position: relative;
    z-index: 1;
    padding: 4rem 25rem;
}

.tranparent-btn {
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 4rem;
    color: white;
    background-color: transparent;
    border: 1px solid white;
}
.tranparent-btn:hover {
    background-color: white;
    color: black;
    transition: 0.5s all ease-in-out;
}