*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.instrument-font{
    font-family: "Instrument Sans", sans-serif;
    color: white !important;
}
.inter-font{
         font-family: "Inter", sans-serif;
}

.first-section{
    width: 100%;
    background-image: url('/assets/images/home-hero-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.first-section::before{
   content: '';
   position: absolute;
   top: 0;
   padding: 0;
   background-color: #001219;
   opacity: 0.6;
   width: 100%;
   height: 100%;
}

.center-section{
    position: relative;
    z-index: 2;
    color: white;
    padding-block: 7rem;
    padding-inline: 15rem;
}

.center-section .bold-heading{
    font-size: 4rem;
    font-family: "Instrument Sans", sans-serif;
}

.shop-now-btn{
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 4rem;
    color: white;
    background-color: #88ad35;
}

.shop-now-btn:hover{

    background-color: #4a5f1c;
    transition: 0.3s all ease-in-out;
}
