* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.instrument-font {
    font-family: "Instrument Sans", sans-serif;
    color: white !important;
}

.inter-font {
    font-family: "Inter", sans-serif;
}

.first-section {
    width: 100%;
    background-image: url('./assets/images/home-hero-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.first-section::before {
    content: '';
    position: absolute;
    top: 0;
    padding: 0;
    background-color: #001219;
    opacity: 0.6;
    width: 100%;
    height: 100%;
}

.icon-focus i:hover {
    color: rgb(154, 150, 150);

}

.center-section {
    position: relative;
    z-index: 2;
    color: white;
    padding-block: 6rem;

}

.center-section .bold-heading {
    font-size: 4rem;
    font-family: "Instrument Sans", sans-serif;
}

@media screen and (max-width:676px) {
    .bold-heading {
        font-size: 2rem !important;
    }

}

.shop-now-btn {
    padding: 0.7rem 1.8rem;
    border: none;
    border-radius: 4rem;
    color: white;
    background-color: #88ad35;
    font-weight: 400;
}

.shop-now-btn:hover {

    background-color: #4a5f1c;
    transition: 0.3s all ease-in-out;
}

.sale-section {
    width: 100%;
    background-image: url('./assets/images/middle-cta.png');
    background-position: center;
    background-size: cover;
    position: relative;
    
    margin-block: 4rem;
}

.sale-section::before {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    background-color: #001219;
    opacity: 0.7;
    top: 0;
    left: 0;
}

.sale-content {
    position: relative;
    z-index: 1;
    padding-block: 6rem;

}

.tranparent-btn {
    padding: 0.6rem 1.8rem;
    border: none;
    border-radius: 4rem;
    color: white;
    background-color: transparent;
    border: 1px solid white;
}

.tranparent-btn:hover {
    background-color: white;
    color: black;
    transition: 0.5s all ease-in-out;
}

.icon-container i {
    background-color: #ceea7c;
}

.customer-says {
    background-color: #ecf4d3;
    margin-top: 3rem;
    padding-block: 5rem;
}

.svg-container>i {
    color: #88ad35;
}

.customer-profile>img {
    border-radius: 50%;
}



.last-second-section {
    width: 100%;
    background-image: url('./assets/images/footer-bg.png');
    background-position: center;
    background-size: cover;
    position: relative;
}



.last-second-section::before {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    background-color: #001219;
    opacity: 0.6;
    top: 0;
    left: 0;
}


.footer{
    background-color: #ecf4d3;
    padding: 4rem 0 1rem 0;
}

.footer li{
    list-style: none;
}
.footer a{
   text-decoration: none;
}

.footer-nav-link li>a:hover{
    color: #88ad35 !important;
}



/* contact page css start */

.contact-first-section{
    width: 100%;
    background-image: url('./assets/images/contact-bg.png');
    background-position: center;
    background-size: cover;
    position: relative;
}
.contact-first-section::before{
    position: absolute; 
    width: 100%;
    height: 100%;
    content: '';
    top: 0;
    left: 0;
    background-color: #001219;
    opacity: 0.6;
}

.contact-section-heading{
   font-size: 4rem;
   font-weight: 500;
   color: white;
}
.center-section-about{
    padding-block: 9rem;
    position: relative;
    z-index: 2;
}

.icon-circle{
    padding: 0.8rem 1.2rem;
    background-color: #ceea7c;
    border-radius: 50%;
}

.form-container .form-control:focus{
        
        border: 0.1rem dashed black;
        box-shadow: none;
        
}

.follow-us-section{
      background-color: #ecf4d3;
}

.follow-content{
    padding-block: 3rem;
  
}

.follow-icon li{
    list-style: none;
}
.follow-icon li>a{
    text-decoration: none;
}

