*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.icon>i{
    position: absolute;
    right: 0;
    font-size: 1.3rem;
    color: blue;
    overflow: clip;
    overflow-clip-margin: 0;
}